.hero-container {
    background-color: #F5FCFF;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
}

.hero-contents {
    width: 80%;
    display: flex;
    align-items: center;
    height: 90vh;
}

.hero-info {
    width: 50%;
    padding: 40px;
    color: #1C1E53;
}

.hero-info h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    padding: 10px 0;
}

.hero-info p {
    /* text-align: justify; */
    line-height: 32px;
    padding: 10px 0;
}

.hero-image {
    width: 50%;
    padding: 20px;
    position: relative;
}

.hero-image-background {
    width: 100%;
    height: 300px;
    background-color: #519fff;
    border: 1px solid #519fff;
    border-radius: 50px;
}

.hero-profile-image{
    position: absolute;
    top: -63px;
    left: 60px;
}

.profile-image {

    width: 418px;
    height: 385px;
}

.hero-btn {
    position: absolute;
    background-color: #5E3BEE;
    color: #FFFFFF;
    padding: 15px 25px;
    margin: 10px 0;
    font-size: 16px;
    transition: all 600ms ease-in-out;
    border: 1px solid #5e3bee;
    border-radius: 6px;
    cursor: pointer;
}

.hero-btn:hover {
    color: #5E3BEE;
    background-color: #F5FCFF;
    border: 1px solid #5e3bee;
}

