.skills-container {
    background-color: #FFFFFF;
    width: 100%;
    /* height: 50vh; */
    display: flex;
    justify-content: center;
}

.skills-content {
    width: 80%;
    
}

.skills-container h1, h3 {
    color: #282938;
}

.skills-headers {
    padding: 20px 0;
}

.skills-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 50px;
}