.about-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 80vh;
    padding: 40px 0;
}

.about-content {
    color: #282938;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-img-div {
    display: flex;
    justify-content: center;
}

.about-me-img {
    width: 500px;
}

.about-me-text {
    width: 60%;
}

.about-me-text p {
    text-align: justify;
}