.testimonial-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 80px 0;
    background-color: #F5FCFF;
}

.testimonial-content {
    width: 80%;
}

.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 50px;
}

/* Testimonial Card css */
.testimonial-card {
    border: 1px solid #006B6A;
    border-radius: 8px;
    width: 350px;
    padding: 20px;

}

.star-icon {
    color: #eedb0b;
}

.user-details {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.profile-img {
    width: 60px;
    height: 60px;
    border-radius: 40px;
} 

.user-info h4 {
    margin: 6px 0;

}

.user-info p {
    margin: 10px 0;
}
